

<section id="portfolio" class="bg-dark text-white py-5">
    <div class="container text-center">
        <h1>Latest Articles</h1>
        <p>
            Discover the latest in tech and design at Harmony Hub's Blog. Stay informed with insights, trends, and expert stories. Explore creativity and innovation in just a few clicks
        </p>
    </div>
</section>

<div class="container text-center">
    <input type="text" id="search-input" placeholder="Search...">
    <button id="search-button">Search</button>
</div>

<section  class="container">
<div id="search-results"></div>
</section>
