
<!-- Services Section -->
<section id="services" class="bg-dark text-white py-5">
    <div class="container text-center">
        <h1>OUR SERVICES</h1>
        <p>Discover the unique services offered by Harmony Hub to enhance our community. Click on each service to learn more.</p>
    </div>
</section>

<div id="services-container" class="row">
    <!-- Service 1: Art Corner -->
    <div class="col-md-4">
        <div class="service-tab card" data-toggle="modal" data-target="#serviceModal1">
            <div class="service-title">Art Corner</div>
            <div class="service-image-container">
                <img class="service-image" src="../../images/artcorner.jpg" alt="Art Corner Image">
            </div>
        </div>
    </div>

    <!-- Service 2: Relaxation Sessions -->
    <div class="col-md-4">
        <div class="service-tab card" data-toggle="modal" data-target="#serviceModal2">
            <div class="service-title">Relaxation Sessions</div>
            <div class="service-image-container">
                <img class="service-image" src="../../images/relaxationsessions.jpg" alt="Relaxation Sessions Image">
            </div>
        </div>
    </div>

    <!-- Service 3: Green Living Workshops -->
    <div class="col-md-4">
        <div class="service-tab card" data-toggle="modal" data-target="#serviceModal3">
            <div class="service-title">Green Living Workshops</div>
            <div class="service-image-container">
                <img class="service-image" src="../../images/greenworkshops.jpg" alt="Green Living Workshops Image">
            </div>
        </div>
    </div>
</div>


<!-- Service Modals -->
<div class="modal fade" id="serviceModal1" tabindex="-1" aria-labelledby="serviceModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel1"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body" id="serviceModalContent1"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="serviceModal2" tabindex="-1" aria-labelledby="serviceModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel2"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body" id="serviceModalContent2"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="serviceModal3" tabindex="-1" aria-labelledby="serviceModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel3"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body" id="serviceModalContent3"></div>
        </div>
    </div>
</div>


<br>
<br>
<br>
